[submodule "blinky"]
	path = blinky
	url = https://github.com/rrybarczyk/blinky
[submodule "shelly"]
	path = shelly
	url = https://github.com/rrybarczyk/shelly
[submodule "osy"]
	path = osy
	url = git@github.com:rrybarczyk/osy.git
